.note{
  height: 25px;
  width: 30px;
  border: 1px dashed black;
  text-align: center;
  padding-top:5px;
  margin:3px;
  border-radius:100%;
  display:block;
  float:left;
  position:relative
}

#clock{
  padding:2em;
  border: 2px solid red;
  display:block;
  position:absolute;
}

#randomize{
  display:inline;
  margin-top:150px;
}

.app{
  display:block;
  position:absolute;
  border:1px dashed black;
  height:200px;
  width:50%;
}
